.app-bar {
  display: flex;
  height: 5vh;
  li {
    @include mx(20px);
    @include size(30px, 30px);
    cursor: pointer;
    img {
      @include size(30px, 30px);
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &--item {
    @include size(30px, 30px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
  }
}

.icon-button__badge {
  position: absolute;
  top: -5px;
  right: -5px;
  @include size(15px, 15px);
  background: var(--button-bg);
  color: #ffffff;
  @include fs(12, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
