.card {
  @include size(300px, 70px);
  @include border-radius(8px);
  box-shadow: $box-shadow;
  background-color: var(--box-color);
  display: flex;
  align-items: center;
  &--item {
    @include size(50px, 50px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
  }
  &--active {
    background-color: var(--message-box-1);
  }
  &__img {
    @include ml(10px);
    
    img {
      @include size(48px, 48px);
      border-radius: 50%;
      object-fit: cover;
      @include small-down {
        min-height: 30px;
        min-width: 30px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    &--name {
      font-weight: 600;
      color: var(--text-dark);
      @include fs(16, 16);
    }
    &--time {
      @include fs(14, 16);
      color: var(--text-dark);
      margin-bottom: 0;
    }
    &--number {
      @include fs(14, 16);
      background: var(--button-bg);
      color: $white;
      border-radius: 50%;
      @include size(20px, 20px);
      text-align: center;
      margin-bottom: 0;
    }
    &--res {
      @include fs(14, 16);
      color: var(--text-dark);
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &--btn {
      @include fs(14, 16);
      color: $white;
      font-weight: normal;
      @include ml(30px);
      @include size(70px, 30px);
      border-radius: 40px;
      background: var(--button-bg);
      p {
        font-weight: 900;
      }
    }
  }
  &-notification {
    display: flex;
    @include size(300px, 70px);
    @include mt(10px);

    &__img > img {
      @include size(50px, 50px);
      border-radius: 50%;
      object-fit: cover;
      @include ml(10px);
    }
    &__content {
      @include ml(16px);
      &--name {
        font-weight: 600;
        color: blueviolet;
        @include fs(14, 16);
      }
      &--res {
        @include fs(14, 16);
        color: $gray-600;
        font-weight: 200;
        word-break: break-word;
      }
      &--time {
        @include fs(14, 16);
        color: $gray-600;
        font-weight: normal;
        text-align: end;
      }
    }
  }
  &-suggest {
    background-color: var(--box-color);
    border-radius: 8px;
    display: flex;
    align-items: center;

    &__content {
      &--name {
        font-weight: 600;
        color: blueviolet;
        @include fs(14, 16);
      }
      &--res {
        @include fs(14, 16);
        color: $gray-600;
        font-weight: 200;
      }
    }
  }

  &-profile {
    display: flex;
    height: 6vh;
    align-items: center;
    li {
      @include mx(10px);
      @include size(20px, 20px);
      cursor: pointer;
      img {
        @include size(40px, 40px);
        object-fit: cover;
      }
      @include small-down {
        @include size(20px, 20px);
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      padding: 20px;

      &--res {
        @include fs(14, 16);
        color: var(--text-dark);
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
