@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  // display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--app-bg);
  font-family: "DM Sans", sans-serif;
  --text-dark: #1a2f45;
  --text-light: #445e78;
  --chat-box-dark: #1b243b;
  --chat-box-light: #fff;
  --button-text: #fff;
  --toggle-ball: #fff;
  --list-item-active: #e5effb;
  --number-bg: #6895a3;
  --message-box-1: #fff;
  --message-box-2: #1a233b;
  --chat-input: #060415;
  --border-light: #8187a2;
  --info-box-color-1: #004dfc;
  --info-box-color-2: #00ba9d;
  --info-box-color-3: #715fc2;
  --info-box-color-4: #ff562d;
  --info-icon-bg-1: #b1c7fc;
  --info-icon-bg-2: #c6f0ea;
  --info-icon-bg-3: #d9d3ff;
  --info-icon-bg-4: #ffe1d4;
  --app-bg: #060415;
  --box-color: #12172d;
  --box-border: #477eff;
  --button-bg: #477eff;
  --text-dark: rgba(255, 255, 255, 1);
  --text-light: rgba(255, 255, 255, 0.6);
  --info-box-1: rgba(160, 186, 242, 0.5);
  --info-box-2: rgba(168, 240, 229, 0.55);
  --info-box-3: rgba(194, 168, 240, 0.34);
  --info-box-4: rgba(240, 185, 168, 0.34);
  --toggle-bg: #477eff;
  --toggle-bg-off: #6895a3;
  --message-box-2: #477eff;
  --message-box-1: #576c99;
  --logo-path-1: #477eff;
  --logo-path-2: #576c99;
  --box-shadow: rgba(18, 23, 45, 0.6) 0px 8px 24px;

  &[data-theme="indigo"],
  &[data-theme="pink"] {
    --app-bg: #fff;
    --box-color: #f5f8fc;
    --box-border: #e7edf5;
    --text-dark: #1a2f45;
    --text-light: #445e78;
    --chat-box-dark: #1b243b;
    --chat-box-light: #fff;
    --button-bg: #004dfc;
    --button-text: #fff;
    --toggle-bg: #004dfc;
    --toggle-bg-off: #6895a3;
    --toggle-ball: #fff;
    --logo-path-1: #a0c9e1;
    --logo-path-2: #18689c;
    --list-item-active: #e5effb;
    --number-bg: #6895a3;
    --message-box-1: #fff;
    --message-box-2: #1a233b;
    --chat-input: #f5f8fc;
    --border-light: #e5e6eb;
    --info-box-1: rgba(217, 228, 252, 1);
    --info-box-2: rgba(226, 246, 243, 1);
    --info-box-3: #f7f3ff;
    --info-box-4: #fff1e9;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --info-box-3: #b3a5ce;
    --info-box-4: #ffceb3;
  }

  &[data-theme="pink"] {
    --box-color: #f8f1f1;
    --button-bg: #1a233b;
    --logo-path-1: #e8d5db;
    --logo-path-2: #6895a3;
    --toggle-bg: #1a233b;
  }

  &[data-theme="navy-dark"] {
    --app-bg: #060415;
    --box-color: #12172d;
    --box-border: #477eff;
    --button-bg: #477eff;
    --toggle-bg: #477eff;
    --toggle-bg-off: #6895a3;
    --message-box-2: #477eff;
    --message-box-1: #576c99;
    --chat-input: #060415;
    --border-light: #8187a2;
  }

  &[data-theme="navy-dark"],
  &[data-theme="dark"] {
    --text-dark: rgba(255, 255, 255, 1);
    --text-light: rgba(255, 255, 255, 0.6);
    --info-box-1: rgba(160, 186, 242, 0.5);
    --info-box-2: rgba(168, 240, 229, 0.55);
    --info-box-3: rgba(194, 168, 240, 0.34);
    --info-box-4: rgba(240, 185, 168, 0.34);
    --logo-path-1: #477eff;
    --logo-path-2: #576c99;
  }

  &[data-theme="dark"] {
    --app-bg: #040508;
    --box-color: #131a24;
    --box-border: #131a24;
    --button-bg: #1e2b4a;
    --toggle-bg: #477eff;
    --toggle-bg-off: #6895a3;
    --message-box-2: #1e2b4a;
    --message-box-1: #576c99;
    --chat-input: #040508;
    --border-light: #040508;
  }
}

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
}

