.app-left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include small-down {
    display: none;
  }

  &__tool {
    display: block;
  }
  &__chat-list {
    overflow-y: scroll;
    height: 78vh;
  }
}
.app-left-header {
  h1 {
    font-size: 24;
    color: var(--text-dark);
  }
}
.btn-add {
  border-radius: 50%;
  font-size: larger;
  border: none;
  color: $white;
  background-color: var(--button-bg) ;
  @include size(30px,30px);
  
}