.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  @include border-radius($border-radius);
}

.list-group-item-action {
  width: 100%;
  color: $gray-700;
  text-align: inherit;

  &:hover,
  &:focus {
    z-index: 1;
    color: $gray-700;
    text-decoration: none;
    background-color: $gray-100;
  }

  &:active {
    color: $white;
    background-color: $primary;
  }
}

.list-group-item {
  display: block;
  position: relative;
  border: 1px solid $list-group-border-color;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: $list-group-border-color;
  background-color: $white;

  &:first-child {
    @include border-top-radius(inherit);
  }

  &:last-child {
    @include border-bottom-radius(inherit);
  }

  &.active {
    z-index: 2;
    color: $gray-900;
    background-color: $primary;
    border-color: $primary;
  }
}
